@CHARSET "UTF-8";

p {
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.hide{
	display: none;
}

input[type="text"],input[type="password"],textarea {
	outline-style: none;
}

#treeMenu input[type="button"] {
	font-size: 0.7em;
}

#treeMenu p {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	
	margin-top: 10px;
}

ul,ol {
	list-style: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0em;
}

h2 {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

body {
	font-family: "Microsoft YaHei" !important;;
	font-size: 80%;
	background: #f6f6f6;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ec6801;
	text-decoration: underline;
}

a:active {
	color: #ec6801;
}

.ui-layout-resizer {
	background-color: #D3ECD1 !important;
}

.ui-layout-north {
	*min-height: 100px;
	*background: url(/images/material/logo1.png) no-repeat 100% 100% !important;
	overflow: hidden !important;
}

.logo{
	background: url(/images/material/logo2.png) repeat-x !important;
	height: 100%;
	width: 100%;
}

.logo h2{
	color: #fff;
	font-size: 4em;
	font-weight: lighter;
	margin-left: 20px;
	line-height: 75px;
}

.ui-layout-west {
	overflow: hidden !important;
}

.clear {
	clear: both;
}

.left {
	width: 200px;
	padding-right: 9px;
	float: left;
	display: inline;
	height: 650px;
	background: #fff;
}

.house-detail {
	font-size: 13px;
	z-index: 10000;
	background: #fff;
	margin: 20px auto;
	width: 1010px;
}

.center {
	text-align: center;
}

.w1000 {
	width: 1000px;
}

.w100 {
	width: 100px;
}

.w150 {
	width: 150px;
}

.w200 {
	width: 200px;
}

.h22{
	height: 22px;
}

.img-description {
	width: 300px;
	display: inline-block;
	text-align: center;
}

.house-detail-table {
	width: 885px;
	margin: 0 auto;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.mr10{
	margin-right: 10px;
}

.mb30{
	margin-bottom: 30px;
}

.left-right-corner{
	left: 30px;
	bottom: 0px;
	position: fixed;
	width: 100px;
	height: 60px;
	z-index: 9999;
}

.bold{
	font-weight: bold;
}

/* .composite-search p{
	padding: 5px;
	margin-top: 5px;
}

.composite-search .submit a{
	text-decoration: none;
}

.composite-search .submit:hover{
	border: 1px solid #c8ac98;
	background: #a7d0f2 url(images/ui-bg_gloss-wave_75_a7d0f2_500x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
	cursor: pointer;
}

.composite-search .submit:active{
	border: 1px solid #c8ac98;
	background: #f7c687 url(images/ui-bg_glass_65_f7c687_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
	cursor: pointer;
} */

/********************** load icon *******************************/
.bubblingG {
text-align: center;
width:80px;
height:50px;
top: 50%;
left: 50%;
position: absolute;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #FFFFFF;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.2s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.2s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.2s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.2s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.2s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.36s;
-webkit-animation-delay: 0.36s;
-ms-animation-delay: 0.36s;
-o-animation-delay: 0.36s;
animation-delay: 0.36s;
}

#bubblingG_3 {
-moz-animation-delay: 0.72s;
-webkit-animation-delay: 0.72s;
-ms-animation-delay: 0.72s;
-o-animation-delay: 0.72s;
animation-delay: 0.72s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#FFFFFF;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#FFFFFF;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#FFFFFF;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#FFFFFF;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#FFFFFF;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}
}

/********************** load icon *******************************/
.overlay-wrapper{
	width: 100%;
	height: 100%;
	z-index: 99999;
	position: absolute;
}

.circleLoading{
   position: fixed;
   background: url(images/ajax-loader.gif) no-repeat;
   height: 55px;
   width: 55px;
   opacity: 1;
   top: 50%;
   left: 50%;
}