@CHARSET "UTF-8";
/* 
html{
	background: #eee;
} */

input[type="text"], select{
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid #a7d0f2;
}

input[type="text"]{
	height: 18px;
}

.detail-information input[type="text"], #memberName{
	width: 150px;
}

select{
	height: 22px;
}

input[type="text"]:focus{
	border: 1px solid #f7c687;/*#f7c687*/
}

.form-wrapper {
	font-size: 13px;
	margin: 20px auto;
	width: 1030px;
	background: #fff;
}

.detail-information label{
	display: inline-block;
	width: 52px;
	margin-left: 20px;
	margin-right: 5px;
}

.grey{
	background: #f6f6f6;
	border: 10px solid #eee;
}

.detail-information, .member-information, .piture-information{
	/* margin-bottom: 30px; */
	border: 1px solid #a7d0f2;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;
	position: relative;
}

.left-column{
	width: 450px;
	margin-left: 20px;
	float: left;
}

.left-column input[type="button"]{
	top: -2px;
	line-height: 12px;
}

.result-table{
	margin-top: 10px;
}

.right-column{
	width: 500px;
	height: 240px;
	border: 1px solid #a7d0f2;
	overflow: auto;
	float: right;
	margin-right: 20px;
}

.right-column span{
	display: inline-block;
}

.right-column ul{
	margin: 15px;
}

.right-column ul li{
	display: block;
	line-height: 30px;
}

.right-column ul li a.ui-icon{
	margin-top: 4px;
}

.upload-button{
	margin-left: 20px;
}

#divFileProgressContainer, #thumbnails{
	margin-left: 20px;
	font-size: 12px;
	color: #666;
}

.thumbnail-single{
	margin-right: 5px;
	float: left;
	width: 320px;
	height: 320px;
}

.save-detail{
	float: right;
	bottom: -20px;
	right: 40px;
}

.save-member{
	top: 22px;
	position: absolute;
	right: 40px
}

#member-name{
	display: inline-block;
	width: 70px;	
}

#delete-a:hover{
	cursor: pointer;
}