@CHARSET "UTF-8";

#search-criteria {
	min-height: 100px;
}

#searchTime,#gender,#ageRuleDropDown {
	line-height: 30px;
	padding: 0 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	text-align: center;
	height: 30px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearFix {
	clear: both;
}

#chartId {
	margin: 0 auto;
}