.fl {
	float: left;
}

.fr {
	float: right;
}

.h40 {
	height: 40px;
}

.w50 {
	width: 50px;
}

.clearFix {
	clear: both;
}

#search-result {
	margin-top: 10px;
}

#searchName {
	margin-top: 3px;
}

#gender,#name,#ageRuleDropDown {
	padding: 0 5px;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
}

#search {
	
}

.hide {
	display: none;
}

.hostRow {
	background: #FF78FF;
}