.fl {
	float: left;
}

.fr {
	float: right;
}

.h40 {
	height: 40px;
}

.w50 {
	width: 50px;
}

.clearFix {
	clear: both;
}

#search-result {
	margin-top: 10px;
}

#searchName {
	margin-top: 3px;
}

#gender,#name,#ageRuleDropDown {
	padding: 0 5px;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
}

#button {
	text-align: center;
	line-height: 30px;
}

#search {
	
}

#search:hover {
	border: 1px solid #999999;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50%
		repeat-x;
	font-weight: normal;
	color: #212121;
}

#search:active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50%
		repeat-x;
	font-weight: normal;
	color: #212121;
}

.hide {
	display: none;
}

.hostRow {
	background: #FF78FF;
}